.lb-avatar{
    height: 100vh;
    width: 100vw;
}
.lookbook-container{
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}
.Element{
    color: white;
    width: 100%;
}
.Event_link{
    text-align: center;
    margin: 28px;
    font-size: 23px;
    font-weight: 600;
    padding: 15px;
    border-radius: 12px;
}
.Event_bar{
    margin: 32px;
}
nav span.active {
   /* border-bottom: 2px solid white; */
   box-shadow: 0 0 5px hsla(0, 0%, 100%, 0.838);
  }
.text-rotator {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
  }
.lb-containers{
    background-color: #000000d1;
}
.text-slide {
    height: 100vh;
    width: 100vw;
display: inline-block;
transition: transform 0.5s ease-in-out;
white-space: nowrap;
}