.containers{
    background-image:linear-gradient(120deg,#159957,#155799);
    height: 100vh;
}
.content{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.head{
font-family:montserrat;
font-weight:600;
color:white;
padding:20px;
padding-top: 80px;
text-align:center;
font-size:40px;
}
.avatar{
height:500px;
width:500px;
background-color: white;
border-radius:50%;
}
.hn{
background-color:white;
border-radius: 10px;
padding:5px;
}
.as{
background-image: linear-gradient(120deg,#159957,#155799);
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;
}
@media screen and (max-width:850px) {
    .head{
        font-size: 28px;
        padding-top: 66px;
    }
    .avatar{
        height: 380px;
        width: 380px;
    }
}
@media screen and (max-width:456px) {
    .avatar{
        height: 270px;
        width: 270px;
    }
    .head{
        font-size: 20px;
        padding-top: 80px;
    }
}
.logos{
    font-size:25px;
    padding: 23px;
    position: inherit;
}
.navbar-wrapper{
    background-color: white;
}
.navbar{
    display:flex;
    width:100%;
    background-color:white;
    font-family:montserrat;
    font-weight:530;
    font-size:20px;
    justify-content: space-between;
    align-items: center;
}
.nb{
    text-decoration:none;
    padding:23px;
   }
.nav{
    display:flex;
    background-image: linear-gradient(120deg,#159957,#155799);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
   }
.only-mobile{
    display: none;
}
.m-nb{
    background-image: linear-gradient(120deg,#159957,#155799);
    display: grid;
    margin: 15px;
    width: 60%;
    color: white;
    font-weight: 600;
    border-radius: 12px;
}
@media screen and (max-width:850px) {
    .logos{
        font-size: 20px;
        padding: 18px;
        background-image: linear-gradient(120deg,#159957,#155799);
    }
    .navbar{
        font-size: 15px;
    }
    .nb{
        padding: 18px;
    }
}
@media screen and (max-width:595px) {
    .nav{
        display: none;
    }
    .only-mobile{
        display: block;
    }
}
@media screen and (max-width:426px) {
    
}
.overlay{
    transform: translate(0%) !important;
    z-index: 1;
}
.mobile-option-menu{
    width: 100vw;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    background-color: white;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
}
/* hamburger */
/*hamburger  */
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
    z-index: 2;
    position: sticky;
}
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-image: linear-gradient(120deg,#159957,#155799); 
    opacity: 0.8;}
  
  .hamburger-box {
    width: 35px;
    height: 21px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 32px;
      height: 4px;
      background-image:linear-gradient(120deg,#159957,#155799) ;
      opacity: 0.8;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }

      /* elastic */
.hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .hamburger--elastic .hamburger-inner::before {
      top: 10px;
      transition: opacity 0.125s 0.275s ease; }
    .hamburger--elastic .hamburger-inner::after {
      top: 20px;
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  
  .hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s; }
    .hamburger--elastic.is-active .hamburger-inner::before {
      transition-delay: 0s;
      opacity: 0; }
    .hamburger--elastic.is-active .hamburger-inner::after {
      transform: translate3d(0, -20px, 0) rotate(-270deg);
      transition-delay: 0.075s; }